:root {
  --bgfooter: #3a66a7;
  --text-white: white;
  font-size: 16px;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Timeout-Regular";
  src: url("../fonts/Timeout-Regular.otf");
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: var(--bgfooter);
  border-radius: 10px;
}

/**********MODAL*****************/
.bg-modal-service {
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

.modal-dialog .modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.modal-content {
  background-color: transparent;
}
.modal-body {
  padding: 0rem;
}
.grid-service-modal {
  background: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 20px;
}
.description-service-modal h2 {
  font-family: "Montserrat SemiBold";
  text-align: center;
  font-size: 35px;
  margin-bottom: 1em;
  color: #0166ab;
}
.description-service-modal h6 {
  font-family: "Montserrat Regular";
  font-size: 16px;
  line-height: 33px;
  margin-bottom: 4em;
}
.title-beneficio h4 {
  font-family: "Montserrat Medium";
  font-size: 20px;
  padding-bottom: 0.5em;
}
.link_check {
  padding-left: 1.3em;
  list-style-image: url(./../images/flecha.PNG);
  font-size: 15px;
  color: black;
  font-family: "Montserrat Regular";
  line-height: 30px;
}
.close {
  opacity: 1;
}
.precio-serv {
  line-height: 40px;
  text-align: center;
  color: #0166ab;
}
/***************************************/

/******************banner_home***********************/
.content-slider {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  position: relative;
}
.content-slider-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: calc(0vh + 40px);
  text-align: center;
}
.content-slider-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.u-center {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.u-center-info {
  display: grid;
  height: 100%;
  align-content: center;
}

.img-slider {
  width: 100%;
  object-fit: cover;
}

.bg-banner_home {
  position: relative;
}
.bg-banner_home img {
  width: 100%;
  object-fit: cover;
}
.primary-title-home {
  font-size: 35px;
  color: white;
  margin: 0;
  font-family: "Montserrat SemiBold";
  line-height: 35px;
  /* padding-left: 20px; */
  text-shadow: 6px 4px 15px #464343;
}
.secondary-title-home {
  font-size: 35px;
  color: white;
  margin: 0;
  font-family: "Montserrat Black";
  /* padding-left: 20px; */
  text-shadow: 6px 4px 15px #464343;
}
.subtitle_banner {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat Medium";
  margin: 0;
  line-height: 24px;
  color: white;
  /* padding-left: 20px; */
  text-shadow: 6px 4px 15px #464343;
}
/***********secondary home**************************/
.bg-secondary-home {
  position: relative;
}
.bg-secondary-home img {
  width: 100%;
  object-fit: cover;
  height: 65vh;
}
.content-secondary-home {
  width: 100%;
  margin: auto;
  padding-bottom: 14px;
}
.grid-valores {
  display: grid;
  text-align: center;
  row-gap: 1em;
}
.grid-valores h2 {
  color: #00abbf;
  font-family: "Montserrat Light";
  font-size: 25px;
  text-transform: uppercase;
}
.info-secondary-home {
  max-width: 635px;
  margin: auto;
  text-align: justify;
  padding: 0 20px 20px;
}
.info-secondary-home p {
  font-size: 18px;
  font-family: "Montserrat Medium";
  color: #6e6e6e;
  margin: 0;
}
.u-line {
  height: 6px;
  background: gray;
  margin: auto;
  width: 120px;
  border-radius: 20px;
}
/***********tercer-home************************/
.grid-tertiary-home {
  display: grid;
}
.bg-hoja-vida {
  background: linear-gradient(to top, #00abbf, #5fc4e1);
}
.grid-hoja-vida {
  height: 100%;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-hoja-vida h1 {
  margin: 0;
  color: transparent;
  font-size: 80px;
  -webkit-text-stroke: 0.5px white;
  font-family: "Montserrat ExtraBold";
  text-align: center;
}
.grid-hoja-vida p {
  color: white;
  font-size: 18px;
  font-family: "Montserrat Medium";
  line-height: 27px;
  text-align: justify;
}
.grid-hoja-vida h2 {
  font-size: 45px;
  color: white;
  text-align: center;
  font-family: "Timeout-Regular";
  padding: 13px 0;
}
.grid-btn-vida {
  text-align: center;
}
.bg-btn-vida {
  background: linear-gradient(to top, #4565ad, #5e81d3);
  width: 240px;
  height: 40px;
  display: grid;
  margin: auto;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
.btn-life {
  color: white;
  font-family: "Montserrat Light";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
.btn-life:hover {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

.img-tertiary-home {
  position: relative;
}

.img-tertiary-home img {
  width: 100%;
  object-fit: cover;
}
/***************************************************************/
.grid-quaternary-home {
  position: relative;
}
.img-quaternary-home {
  position: relative;
}
.img-quaternary-home img {
  width: 100%;
  object-fit: cover;
}

.list-servicios-home {
  margin: 0;
  padding: 0;
  color: #0aaec2;
  font-size: 17px;
  font-family: "Montserrat Regular";
  padding-left: 1em;
  list-style-image: url(./../images/home/cuadro.png);
}
.title-servicio {
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  font-family: "Montserrat ExtraBold";
  font-size: 40px;
  text-align: center;
}
.tltle-quirurgico {
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  font-family: "Montserrat ExtraBold";
  font-size: 40px;
  padding-left: 0em;
  text-align: center;
}
.grid-info-servicios {
  display: grid;
  height: 100%;
  align-content: center;
  padding: 15px 15px 0;
}
.img-bg-servicios {
  text-align: center;
}
.img-bg-servicios img {
  height: 350px;
}
.grid-testimonio-img p {
  color: #6e6e6e;
  font-size: 16px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: "Montserrat Regular";
  padding-bottom: 1em;
}
.grid-testimonio-img h6 {
  color: #00abbf;
  font-family: "Montserrat Medium";
  text-align: center;
  font-size: 15px;
}
.u-line2 {
  height: 3px;
  background: gray;
  margin: auto;
  width: 75px;
  border-radius: 20px;
}
.u-spacing-line {
  margin-top: 2em;
  margin-bottom: 1em;
}
textarea.form-control {
  resize: none;
}
@media screen and (min-width: 768px) {
  .primary-title-home {
    font-size: 70px;
    padding: 0 20px;
  }
  .secondary-title-home {
    font-size: 70px;
    padding: 0 20px;
  }
  .subtitle_banner {
    font-size: 24px;
    padding: 0 20px;
  }

  .content-secondary-home {
    width: 750px;
  }
  .grid-valores {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0em;
  }
  .bg-secondary-home img {
    height: 240px;
  }
  .info-secondary-home {
    text-align: center;
    padding: 0 0 20px;
  }
  .info-secondary-home p {
    font-size: 20px;
  }

  .grid-hoja-vida p {
    font-size: 20px;
  }
  .grid-hoja-vida h2 {
    text-align: end;
  }
  .list-servicios-home {
    padding-top: 1em;
    text-align: center;
    list-style: none;
  }
  .grid-testimonio-img p {
    font-size: 19px;
  }
}
@media screen and (min-width: 1110px) {
  .grid-hoja-vida h1 {
    font-size: 120px;
    line-height: 20px;
    text-align: initial;
  }
  .grid-hoja-vida {
    padding: 90px 50px 0;
  }

  .grid-tertiary-home {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-hoja-vida {
    max-width: 700px;
  }

  .content-servicios {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .grid-bg-servicios {
    display: flex;
  }
  .title-servicio {
    font-size: 65px;
    text-align: initial;
  }
  .tltle-quirurgico {
    font-size: 65px;
    padding-left: 1em;
    text-align: initial;
  }
  .list-servicios-home {
    font-size: 24px;
    padding-left: 8em;
    text-align: initial;
    list-style-image: url(./../images/home/cuadro.png);
  }
  .img-bg-servicios img {
    height: 669px;
  }
  .grid-info-servicios {
    padding: 0 0 0;
  }
  .u-spacing-line {
    margin-bottom: 2em;
  }
  /****BANNER - SLIDER ***********/
  .content-slider {
    grid-template-columns: 65% 35%;
  }
  .content-slider-title {
    position: initial;
    bottom: initial;
    text-align: initial;
  }
  .subtitle_banner {
    width: 690px;
  }
}
