.servicio {
  background: url(../../images/servicios/bg-servicio.png) no-repeat top;
  background-size: cover;
  height: 100vh;
}
.grid-servicio {
  display: grid;
  height: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
}
.img-servicio {
  text-align: center;
  padding-bottom: 9em;
}

.grid-servicio h2 {
  font-family: "Montserrat SemiBold";
  font-size: 45px;
  color: white;
  text-transform: uppercase;
}
.grid-servicio p {
  font-family: "Montserrat Light";
  font-size: 22px;
  color: white;
}
.grid-btn-cita {
  margin: auto;
  width: 255px;
  background: white;
  height: 44px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Medium";
}
.grid-btn-cita a {
  color: black;
}
.grid-servicio-options {
  display: grid;
}
.grid-description-options {
  padding: 20px 20px;
}
.grid-description-options h2 {
  font-family: "Montserrat Medium";
  font-size: 21px;
  padding-bottom: 0.3em;
  text-align: center;
}
.grid-description-options p {
  font-family: "Montserrat Regular";
  font-size: 16px;
}
.btncontacto {
  font-family: "Montserrat Medium";
  font-size: 23px;
  color: black;
}
.grid-precio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background: #3a66a7;
  color: white;
  height: 90px;
  padding: 0 10px;
}
.content-servicio-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-precio {
  text-align: center;
}
.title-precio p {
  font-size: 15px;
  max-width: 230px;
  line-height: 25px;
  margin: 0;
  font-family: "Montserrat SemiBold";
}
.subtitle-precio {
  text-align: center;
}
.subtitle-precio p {
  margin: 0;
  font-family: "Montserrat Light";
  font-size: 16px;
}
.precio-number {
  line-height: 29px;
}
.desde {
  font-family: "Montserrat Light";
  font-size: 15px;
  margin: 0;
}
.number-p {
  font-family: "Montserrat SemiBold";
  margin: 0;
  font-size: 22px;
}

.img-serivio-options {
  background: url(../../images/servicios/uno.png) no-repeat top;
  background-size: cover;
  height: 55vh;
}
.grid-title-serv {
  height: 160px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: #f4f4f4;
}
.grid-title-serv h2 {
  margin: 0;
  font-family: "Montserrat Medium";
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .grid-description-options h2 {
    font-size: 26px;
  }
  .grid-title-serv h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1110px) {
  .grid-servicio h2 {
    font-size: 90px;
  }
  .grid-servicio p {
    font-size: 23px;
  }
  .grid-servicio-options {
    grid-template-columns: 40% 60%;
  }
  .grid-description-options {
    padding: 10px 40px 0 50px;
  }
  .grid-description-options h2 {
    font-size: 36px;
    text-align: initial;
  }
  .grid-description-options p {
    font-size: 17px;
  }
  .grid-precio {
    padding: 0 0;
  }
  .title-precio {
    text-align: initial;
  }
  .title-precio p {
    font-size: 21px;
  }
  .subtitle-precio p {
    font-size: 21px;
  }
  .desde {
    font-size: 20px;
  }
  .number-p {
    font-size: 25px;
  }
  .subtitle-precio {
    text-align: initial;
  }
}
@media screen and (min-width: 1240px) {
}

@media screen and (min-width: 1440px) {
  .grid-description-options {
    padding: 20px 100px 0 82px;
  }
  .grid-description-options p {
    font-size: 19px;
  }
}
@media screen and (min-width: 1640px) {
  .grid-description-options {
    padding: 40px 130px 0 82px;
  }
}
