.bg-servicio {
  position: relative;
}
.img-bg-service {
  width: 100%;
  object-fit: cover;
}
.center-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.box-grid {
  max-width: 1400px;
  margin: auto;
  padding: 0 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bg-box-service {
  background: initial;
  height: 170px;
  padding: 0px 12px;
  border-radius: 40px;
  display: none;
  /* display: none; */
}
.grid-box-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
}
.content-service {
  text-align: center;
  border: 1px solid #5fc4e1;
  border-radius: 20px;
  height: 50px;
  transition: all 0.3s ease-in;
  display: grid;
  align-items: center;
}
.content-service p {
  color: white;
  margin: 0;
  font-family: "Montserrat Medium";
  font-size: 9px;
  margin-top: 0;
  height: 45%;
}
.content-service:hover {
  background: #5fc4e1;
}

.content-service.activado {
  background: #5fc4e1;
}
.img-circle {
  margin-top: 0.4em;
  display: none;
}

/***********************/
.content-btn-cita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.btn-cita {
  border: 1px solid white;
  width: 200px;
  height: 45px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: white;
  transition: all 0.3s ease-in;
  margin-bottom: 1em;
}
.btn-cita:hover {
  background: #5fc4e1;
  /* color: black; */
}
.btn-cita p {
  font-family: "Montserrat SemiBold";
  margin: 0;
  font-size: 15px;
}
.number-cita {
  border: 1px solid white;
  width: 200px;
  height: 45px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: white;
  transition: all 0.3s ease-in;
}
.number-cita:hover {
  background: #25d366;
  color: white;
  border: 1px solid white;
}
.number-cita p {
  font-family: "Montserrat SemiBold";
  margin: 0;
  font-size: 15px;
}

/***********CUERPO****************/
.bg-cuerpo-servicio {
  position: relative;
}
.img-cuerpo-servicio {
  width: 100%;
  object-fit: cover;
}
.box-cuerpo-service {
  max-width: 1200px;
  margin: auto;
  padding: 0 5px;
  height: 100%;
}
.img-flecha-cuerpo {
  text-align: center;
  margin-top: 30px;
}
.grid-info-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  grid-gap: 2em;
}
.content-info-service {
  text-align: center;
}
.content-info-service img {
  margin-bottom: 0.7em;
}
.content-info-service p {
  margin: 0;
  color: #3a6ca9;
  font-family: "Montserrat Regular";
  font-size: 17px;
}
/**************************************/
.bg-title-service {
  position: relative;
}
.bg-title-service-op {
  position: relative;
}
.bg-title-service-op p {
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 0.3px #989898;
  font-family: "Montserrat ExtraBold";
  text-align: center;
  line-height: 30px;
  font-size: 32px;
}
.bg-title-service p {
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 0.3px #989898;
  font-family: "Montserrat ExtraBold";
  text-align: center;
  line-height: 30px;
  font-size: 39px;
}
.grid-title-service {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}
.grid-title-service h1 {
  font-size: 20px;
  font-family: "Montserrat SemiBold";
  margin: 0;
  text-align: center;
}
/**********************************/
.grid-descripcion-service {
  margin-top: 40px;
  padding: 0 15px;
}
.content-grid-descripcion {
}
.list-descripcion-service {
  list-style-image: url(./../../images/servicios/check.png);
  font-size: 15px;
  color: #3a6ca9;
  font-family: "Montserrat Regular";
}
.list-descripcion-service li {
  margin-bottom: 1.5em;
}
/************************************/
.grid-description-extra {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0em;
  margin-top: 40px;
  padding: 0 25px;
}
.content-description-extra h2 {
  color: #3a6ca9;
  font-size: 24px;
  font-family: "Montserrat Regular";
}
.content-description-extra p {
  color: #6e6e6e;
  font-size: 15px;
  font-family: "Montserrat Regular";
  text-align: justify;
  margin: 0;
}
.content-description-extra {
  display: grid;
  height: 100%;
  align-content: center;
}
.img-service-extra {
  margin-top: 1em;
  text-align: center;
}

/***************************************/
.btn-botones-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 70px;
  padding: 0 25px;
}

.content-btn-iz span {
  font-size: 16px;
  color: #3a6ca9;
  font-family: "Montserrat Regular";
  padding-left: 1em;
}
.content-btn-de {
  text-align: end;
}
.content-btn-de span {
  font-size: 16px;
  color: #3a6ca9;
  font-family: "Montserrat Regular";
  padding-right: 1em;
}
.title-service-movil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.title-service-movil span {
  font-family: "Montserrat SemiBold";
  color: #3a6ca9;
}
.list-servicios-home li a p {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .bg-box-service {
    display: block;
  }
  .service-acordion-movil {
    display: none;
  }
  .bg-title-service p {
    font-size: 85px;
  }
  .bg-title-service-op p {
    font-size: 70px;
  }
  .grid-title-service h1 {
    font-size: 30px;
  }
  .grid-descripcion-service {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin-top: 120px;
    padding: 0 0px;
  }
  .content-grid-descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .content-btn-cita {
    flex-direction: row;
    gap: 1em;
  }
  .grid-box-service {
    grid-template-columns: repeat(3, 1fr);
  }
  .btn-cita {
    margin-bottom: 0em;
  }
}

@media screen and (min-width: 1110px) {
  .grid-title-service h1 {
    font-size: 60px;
  }

  .bg-title-service p {
    font-size: 120px;
    line-height: 70px;
  }
  .bg-title-service-op p {
    font-size: 100px;
    line-height: 70px;
  }
  .grid-info-service {
    margin-top: 150px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0em;
  }
  .grid-description-extra {
    margin-top: 85px;
    padding: 0 60px;
    grid-template-columns: repeat(2, 1fr);
  }
  .img-service-extra {
    margin-top: 0em;
    text-align: end;
  }
  .btn-botones-service {
    margin-top: 160px;
    padding: 0 60px;
  }
  .content-btn-iz span {
    font-size: 20px;
  }
  .content-btn-de span {
    font-size: 20px;
  }
  .content-btn-cita {
    padding: 0 0px;
  }
  .btn-cita {
    width: 215px;
    height: 63px;
    margin-bottom: 0em;
  }
  .btn-cita p {
    font-size: 20px;
  }
  .number-cita {
    width: 215px;
    height: 63px;
  }
  .number-cita p {
    font-size: 20px;
  }
  .list-descripcion-service {
    font-size: 18px;
  }
  .content-description-extra p {
    font-size: 19px;
  }

  /*************************************/
  .grid-box-service {
    grid-template-columns: 10% 10% 17% 13% 9% 9% 8% 10% 9%;
  }
  .bg-box-service {
    background: #35447c;
    padding: 33px 40px;
    /* display: block; */
  }
  .img-circle {
    display: block;
  }
  .content-service {
    height: 105px;
  }

  .content-service p {
    margin-top: 0.5em;
    font-size: 12px;
  }
}

@media screen and (min-width: 1250px) {
  .bg-title-service p {
    font-size: 140px;
  }
  .bg-title-service-op p {
    font-size: 117px;
  }
}
@media screen and (min-width: 1400px) {
  .bg-title-service p {
    font-size: 160px;
  }
  .bg-title-service-op p {
    font-size: 115px;
  }
}
