.grid-nav-contacto {
  background: #3a66a7;
  height: 49px;
}

.nav-contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1500px;
  margin: auto;
  color: white;
  justify-items: end;
  align-items: center;
  height: 100%;
}
.nav-contacto p {
  margin: 0;
}
.grip-wp {
  display: flex;
}
.grip-wp p {
  font-family: "Montserrat Regular";
  font-size: 20px;
}

.grid-menu {
  max-width: 1500px;
  margin: auto;
  padding: 20px 0;
}
.nav_link_u {
  display: grid;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 1em;
}
.nav_link_u li a {
  color: #191919;
  font-size: 18px;
  font-family: "Montserrat Regular";
}

/***********movil*****************/
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3a66a7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 99;
  transform: translateX(-100%);
  transition: 0.5s;
}
#menu-overlay.active {
  transform: translateX(0);
}

#menu-overlay ul {
  position: relative;
  padding: 0;
}
#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
  padding: 10px 0px;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Muller Regular";
  letter-spacing: 1px;
}
#menu-overlay ul li a:hover {
  letter-spacing: 6px;
}

#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #3a66a7 url(../../images/open.png);
  z-index: 999;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#toggleIcon.active {
  background: #3a66a7 url(../../images/close.png);
}
.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav_link_u {
    grid-template-columns: 15% 15% 40% 15% 15%;
  }
}
@media screen and (min-width: 1110px) {
  .menu {
    display: block;
  }
  #navbar-movil {
    display: none;
  }
}
