.barra {
  background: linear-gradient(to left, #4565ad, #5fc4e1);
}
.grip-navbar {
  display: grid;
  grid-template-columns: 30% 70%;
}
.content-back-menu {
  position: relative;
}
.back-menu {
  position: absolute;
  z-index: 2;
}
.grip-menu-logo {
  display: grid;
  height: 100px;
  align-items: center;
}
.grid-list-navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  text-align: center;
  margin: 0;
}
.grid-list-navbar li a {
  font-family: "Montserrat Regular";
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.grid-list-navbar li a:hover {
  color: #5fc4e1;
  font-family: "Montserrat SemiBold";
  letter-spacing: 2px;
}

/***********movil*****************/
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3a66a7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 99;
  transform: translateX(-100%);
  transition: 0.5s;
}
#menu-overlay.active {
  transform: translateX(0);
}

#menu-overlay ul {
  position: relative;
  padding: 0;
}
#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
  padding: 10px 0px;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Muller Regular";
  letter-spacing: 1px;
}
#menu-overlay ul li a:hover {
  letter-spacing: 6px;
}

#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #3a66a7 url(../../images/open.png);
  z-index: 999;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#toggleIcon.active {
  background: #3a66a7 url(../../images/close.png);
}
.menu {
  display: none;
}
.navbar-web {
  display: none;
}
.logo-fong-movil {
  height: 120px;
  padding: 0 20px;
}
.img-movil-logo {
  position: relative;
}
.grid-img-movil-logo {
  position: absolute;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .nav_link_u {
    grid-template-columns: 15% 15% 40% 15% 15%;
  }
}
@media screen and (min-width: 1110px) {
  .menu {
    display: block;
  }
  #navbar-movil {
    display: none;
  }
  .navbar-web {
    display: block;
  }
  .logo-fong-movil {
    display: none;
  }
}
