.locales {
  padding: 40px 0 0;
}
.grid-locales {
  display: grid;
  padding-bottom: 1.5em;
}
.grid-locales-two {
  display: flex;
  flex-direction: column-reverse;
}
.info-local {
  display: grid;
  height: 100%;
  align-content: center;
  justify-content: center;
  text-align: initial;
  padding: 40px 0px;
  /* box-shadow: inset 5px -2px 20px 0px rgba(0, 0, 0, 0.1); */
}
.descriptions-local h2 {
  font-family: "Montserrat Regular";
  font-weight: bold;
  font-size: 22px;
}
.descriptions-local p {
  font-family: "Montserrat Regular";
  font-size: 18px;
}
.map-container-section {
  height: 300px;
}

@media screen and (min-width: 768px) {
  .grid-locales {
    grid-template-columns: 50% 50%;
  }
  .grid-locales-two {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .map-container-section {
    height: 560px;
  }
}
@media screen and (min-width: 1024px) {
  .info-local {
    text-align: center;
    padding: 0px 0px;
  }
}
